.foouter {
    margin-top: 7vw;
}

.foouter__conteiner {
    min-height: 10vw;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0;
}

.foouter_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.circle {
    width: 1vw;
    height: 1vw;
    min-width: 12px;
    min-height: 12px;
    background-color: #FB8F1D;
    border: 0.25vw solid white;
    box-shadow: 0 0 0 0.5vw #1ABE84;
    border-radius: 50%;
}

.social__media {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.social__media__items {
    width: auto;
    height: 2vw;
    max-height: 40px;
    margin: 0 0.5vw;
}

.paragraph__ {
    font-size: 1vw;
    text-align: center;
}

@media (max-width: 720px) {
    .paragraph__ {
        font-size: 3vw;
        display: inline;
    }
    .foouter_logo {
        align-items: center;
        height: auto;
        gap: 1vw;
    }
    .social__media__items {
        height: 5vw;
        margin: 0 2vw;
    }
    .foouter {
        margin-top: 8vw;
    }
    .circle {
    min-width: 10px;
    min-height: 10px;
    box-shadow: 0 0 0 1vw #1ABE84;
    }
}
