.thee {
    margin-top: 5vw;
}

.conteiner_thee {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1900px;
    margin: auto;
}

.thee__views {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2vw;
}

.thee__title {
    color: #000;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
}

.thee__view {
    color: #FB8F1D;
    font-size: 1vw;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.thee__view:hover {
    transform: scale(1.1);
}

.thee__view::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #FB8F1D;
    transition: width 0.3s ease, left 0.3s ease;
}

.thee__view:hover::after {
    width: 80%;
    left: 10%;
    border-radius: 2px;
}

.thee_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    margin-top: 2vw;
}

.thee_img-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 125%;
}

.thee_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.thee_img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #042521;
    background: #fff;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border-radius: 0 6px 0 0;
}

.thee_img-subtext {
    display: block;
    font-size: 0.8vw;
    color: #80918E;
    margin-top: 0.2vw;
}

@media (max-width: 840px) {
    .thee_images {
        grid-template-columns: 1fr;
        gap: 4vw;
        margin-top: 7vw;
    }
    .thee_img-wrapper {
        padding-top: 80%;
    }
    .thee_img-text {
        font-size: 3vw;
        padding: 2vw 3vw;
    }
    .thee_img-subtext {
        font-size: 2vw;
    }
    .thee__title {
        font-size: 5vw;
    }
    .thee__view {
        font-size: 2.5vw;
    }
    .thee {
        margin-top: 8vw;
    }
}
